<div class="root">

<section class="privacyPolicy">
    <app-menu></app-menu>
    <h2>Privacy Policy</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt pellentesque ipsum. Cras ornare dolor
        ut enim vehicula, et consectetur justo ultricies. Maecenas vitae elit eu dui feugiat cursus. Duis neque risus,
        interdum at gravida non, consequat sed leo. Fusce molestie sollicitudin nisi non ullamcorper. Nulla aliquam eget
        velit eu imperdiet. Integer pulvinar ex vel tellus malesuada auctor.

        Maecenas non purus consectetur, blandit felis sed, varius turpis. Vivamus nunc nisl, posuere at nisl quis,
        iaculis tempor lacus. Aliquam sem est, tincidunt non lacinia non, eleifend ut eros. Phasellus tincidunt, quam in
        commodo congue, nisi diam feugiat est, vitae pulvinar est augue sed turpis. Proin massa magna, aliquam id lacus
        in, accumsan varius nibh. Integer dapibus neque sit amet dapibus commodo. Pellentesque in tortor hendrerit,
        molestie felis vel, suscipit dolor. Nulla at tellus ut nulla pellentesque ornare. Vestibulum laoreet aliquet leo
        at consectetur. Nunc vel hendrerit diam. Aliquam convallis libero a nibh auctor bibendum. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam euismod leo id sapien mattis
        tincidunt. Donec consequat elementum felis, vitae pellentesque tellus varius eget.

        Aenean sit amet eleifend felis, accumsan eleifend nibh. Aenean et lacus in orci pharetra dictum vitae a sem.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec quam nunc.
        Cras at orci est. Sed accumsan quam quis nibh feugiat efficitur nec vitae libero. Quisque ex massa, sagittis ac
        viverra a, laoreet nec ipsum. Ut at leo ante. Fusce metus nisl, imperdiet quis imperdiet eget, dapibus quis
        libero. Mauris ullamcorper, ipsum ac volutpat luctus, nulla lorem maximus odio, et tempus felis lacus nec lacus.
    </p>
    <app-footer></app-footer>
</section>
</div>