carousel {
    width: 1264px;
    margin: auto;   
}
.priceText {
    height: 120px;
    font-family: 'KyivType Sans Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    text-transform: uppercase;
    color: #F5F5F5;
    margin-left: 238px;
    margin-bottom: 120px;
    margin-top: 240px;
}
.arrow1 {
    margin: 20px;
}
.gallery {
    width: 100%;
    /* height: 806px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.priceImg {
    height: 844px;
    width: 1060px;
    left: 151px;
    top: 533px;
    border-radius: 0px;    
}
.container {
    width: 1264px;
    margin: auto;    
}
.arrow2 {
    margin: 20px;
}
.imgArrow1:hover,
.imgArrow2:hover {
    cursor: pointer;
}
.ellipses {    
    margin: 30px;
}
@media screen and (max-width: 1260px){
    carousel {
        width: 90%;
        margin: auto;   
    
}
}
@media screen and (max-width: 600px){
       .priceText{
        font-size: 50px;
        margin: 140px 0 50px 0;
        text-align: center;
       }
}
